    body {
      font-family: Butler, sans-serif;
      text-align: center;
      background-color: #1b1b1b;
      color: #f0f0f0;
    }

    h1 {
      margin-top: 20px;
    }

    .controls {
      margin: 20px;
    }

    label {
      margin: 0 5px;
    }

    .map-container {
      width: 90vw;
      height: 50.625vw;
      overflow: hidden;
      margin: 0 auto;
      position: relative;
      border: 2px solid #444;
    }

    #marsMap {
      position: absolute;
      top: 0;
      left: 0;
      transition: transform 0.2s ease;
      max-width: none;
      transform-origin: top left;
    }

    .marker {
      width: 12px;
      height: 12px;
      background-color: red;
      border-radius: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
      border: 2px solid #fff;
      z-index: 10;
    }

    .grid-line {
      position: absolute;
      background-color: rgba(255, 255, 255, 0.3);
      pointer-events: none;
      z-index: 5;
      transform-origin: top left;
    }

    .coordinate-label {
      position: absolute;
      font-size: 12px;
      color: white;
      z-index: 6;
      pointer-events: none;
      transform-origin: top left;
    }

    button img {
	width: 20px;
    }

    .fullscreen {
      width: 100vw !important;
      height: 100vh !important;
    }