body {
  overflow: auto; /* Allows scrolling when content overflows */
}

#loadingOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95); /* dark background */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: opacity 0.5s ease;
  z-index: 9999;
}

.loader-media {
  width: 500px; /* adjust as needed */
  height: auto;
  margin-bottom: 20px;
  border-radius: 10px; /* optional rounded edges */
}

#loadingOverlay p {
  font-size: 1.2rem;
  color: #fff;
}

#libraryContainer {
  display: grid;
  margin-top: 100px;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
  padding: 20px;
}

.library-item {
  aspect-ratio: 9 / 16;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.library-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: translateY(-5px);
}

.library-item h4 {
  font-size: 17.5px;
  font-style: bold;
  margin: 10px 0;
}

.library-item p {
  font-size: 12px;
  margin: 5px 0;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  width: 220px;
  background-color: rgba(0, 0, 0, 0.85);
  color: #fff;
  text-align: left;
  border-radius: 8px;
  padding: 10px;
  position: absolute;
  z-index: 10;
  bottom: 110%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tooltip-text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.85) transparent transparent transparent;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}
